@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
*{
	margin: 0;	
	padding: 0;	
}
.container{
	width: 100%;
	max-width: 1920px;
	height: 100%;
	margin:0 auto;
	background-image: url(111.png);
	display: flex;
}
.social-block{
	width: 150px;
	height: 100%;
}
a{
	font-family: Open Sans ;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	color: #fff;
	text-decoration: none;
}
	.first-scrin{
		margin-top: 51PX;
	}
	.header{
		display: flex;
		justify-content: center;

	}
	.nav{
		margin-left: 60px;
	}
	.tel{
		margin-left: 170px;
	}
	.liad{
		display: flex;
		justify-content: center;
	}
	h2{
	font-family: Open Sans Condensed;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 87px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color:#fff;
	}
	.teatr p{
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 150%;
	color:#fff;
	padding-top: 50px;
	}
	.teatr button{
		width: 160px;
		height: 50px;
		margin-top: 49px;
		background-color: #D1A954;
		font-family: Open Sans Condensed;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 25px;
		color:#fff;
		cursor: pointer;
	}
	.teatr{
		max-width: 540px;
		margin-top: 308px;
		margin-right: 125px;
	}
	.kniga{
		margin-top: 191px;
	}
	.liad{
		margin-left: 205px;
	}
	.conteiner{
		width: 100%;
		max-width: 1920px;
		height: 100%;
		margin:0 auto;
		justify-content: center;
		background-color: #333333;
	}
	.oteatr{
		padding-top: 150px;
	}
	.menu{
		display: flex;
		margin-top: 100px;
		justify-content: center;
	}
	h3{
		font-family: Open Sans Condensed;
		font-style: normal;
		font-weight: 300;
		font-size: 48px;
		line-height: 65px;
		text-align: center;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		color: #FFFFFF;
	}
	h3 span{
		color:orange;
	}
	h5{
		font-family: Open Sans Condensed;
		font-style: normal;
		font-weight: bold;
		font-size: 21px;
		line-height: 29px;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		color: #FFFFFF;
	}
	.text p{
		font-family: Open Sans;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 150%;
		color: #FFFFFF;
		padding-top: 40px;
	}
	.IMG-CARD	{
		flex-wrap: nowrap;
		margin-top: 100px;
	}
	.nashipost{
		margin-left: 100px;
		margin-top: 150px;
	}
	.rating {
		width: 100%;
		margin-top: 150px;
		margin-left: 405px;
	}

	.text{
		width: 445px;
	}
	.partner{
		margin-left: 405px;
		margin-top: 100px;
	}
	.partners{
		margin-top: 100px;
		justify-content: center;
	}
	.mecenat{
		width: 500px;
		height: 500px;
		margin-left: 50%;
		margin-top: 200px;
	}
	.social-block{
		width: 150px;
		height: 100%;
		background-color: #333333;
	}
	.social-block h4{
		font-family: Open Sans Condensed;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 25px;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		color: #C4C4C4;
		transform: rotate(-90deg);
		margin-top: 383px;
		margin-left: 55px;
		margin-bottom: 120px;

	}
	.palka{
		width: 80px;
		height: 0px;
		margin-left: 40px;
		margin-top: 70px;
		border: 3px solid #C4C4C4;
		transform: rotate(90deg);
		margin-bottom: 60px;
	}
	.social-block img{
		margin-top: 30px;
		margin-left: 66px;
		margin-bottom: 10px;
	}
	.nashipost{
		margin: 0 auto;
	}
	@media(max-width: 992px){
		.kniga{
			display: none;
		}
		.img{
			display: none;
		}
		.rating{
			display: none;
		}
		.mecenat img{
			width: 90%;
		}
		.IMG-CARD{
			margin: 10 0;
		}
		.menu{
			margin:10 auto;
		}
		.partner img{
			width: 80%;
		}
		.partner{
			margin-right: 200px;
		}
		.tel{
			display: none;
		}
		.text{
			margin: 0 auto;
		}
		.liad{
			margin: 0 auto;
		}
		.text{
			margin-left: 5%;
		}
	}
	@media(max-width: 576px){
		.nav{
			display: none;
		}
		.tel{
			display: block;
		}
		.social-block{
			display: none;
		}
		.partners{
			display: none;
		}
		.cifri{
			display: none;
		}
		.text{
			margin-right: 300px;
		}

	}